
h1
{
    text-align:center;
    color: #0b56be;
}
.navbar {
    display: flex;
    justify-content: center;
    background-color: #1155b4;
    padding: 10px 0;
}

.navbar a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #dddddd;
    color: black;
}


h2, h3
{
    text-align: center;
    color:black;
}

@media screen and (max-width: 768px) {
    .form {
        max-width: calc(50% - 15px); /* 2 forms in a row with 15px max gap */
    }
}

@media screen and (max-width: 480px) {
    .form {
        max-width: 100%; /* Forms stack up on smaller screens */
        margin-right: 0;
    }
}

/* Style for buttons */
.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
}

.button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #1155b440;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.button:hover {
    background-color: #1155b492;
}

h1 {
    text-align: center;
}
