.navbar {
    display: flex;
    justify-content: center;
    background-color: #292a7a;
    padding: 10px 0;
}

.navbar a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #dddddd;
    color: black;
}

/* Style for buttons */
.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
}

.button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.button:hover {
    background-color: #45a049;
}

h1 {
    text-align: center;
}