
h1
{
    text-align:center;
    color: #0b56be;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: #1155b4;
    padding: 10px 0;
    margin-bottom: -30px;
}

.navbar a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #dddddd;
    color: black;
}

/* Style for buttons */
body {
    text-align: center; /* Center text horizontally */
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
}

.button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #1155b440;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.button:hover {
    background-color: #1155b492;
}

h3 {
    text-align: center;
}

h1 {
    margin-top: 8px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align items at the start of the cross axis */
    width: 70%;
    margin: 10px auto 0; /* Add margin to the top */
    padding: 2% 0;
}

.attendance-box,
.points-box,
.events-box,
.make-event-box,
.remove-member-box {
    flex: 1;
    background-color: #1155b440;
    border-radius: 10px;
    padding: 20px;
    margin-right: 2%;
}

.points-box {
    /* Your existing styles */
    text-align: center; /* Center the content horizontally */
}

.attendance-input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.attendance-submit {
    width: calc(100% - 20px);
    padding: 10px;
    background-color: #1155b4c6;
    color: #FFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.points-box {
    margin-right: 2%;
}

.events-table {
    width: 100%;
    border-collapse: collapse;
}

.events-table td {
    padding: 10px;
    border-bottom: 2px solid #1155b440;
}

.events-table tr:first-child td {
    font-weight: bold;
}

.events-table tr:not(:first-child) {
    background-color: #FFF;
    border-radius: 20px;
    margin-top: 5px;
}

td, input {
    text-align: center;
}